* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}


.container {
	width: 1270px;
	margin: 0 auto;
}

.products__title, .title {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 55px;
	line-height: 130%;
	text-align: center;
	padding-top: 100px;

	background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-transform: uppercase;
}

.products__list {
	padding-top: 70px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 50px;
	grid-row-gap: 50px;

}
.products__btn--active{
	display: none !important;
}
.products__item,
.products__image {
	width: 100%;
}
.products__image{
}
.products__item{
	position: relative;
	border-radius: 28px;
}

.products__btn {
	display: block;
	width: 210px;
	height: 70px;
	margin: 0 auto;
	margin-top: 70px;
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
	color: #FEFEFE;
	background: radial-gradient(113.12% 113.12% at 1.88% 89.38%, #FA8F21 0%, #D82D7E 79.31%);
	border-radius: 20px;
	border: none;
	text-transform: uppercase;
	padding-top: 8px;
}

.productd__button {
	display: none;
	width: 100%;
	height: 52px;
	background: radial-gradient(113.12% 113.12% at 1.88% 89.38%, #FA8F21 0%, #D82D7E 79.31%);
	border-radius: 0px 0px 28px 28px;
	font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 130%;
color: rgb(255, 255, 255);
border: none	;
text-transform: uppercase;

}
@keyframes cf3FadeInOut {
  0% {
  opacity:0;
}
45% {
opacity:0;
}
55% {
opacity:1;
}
100% {
opacity:1;
}
}

.products__list--hiden{
	display: none;
	opacity: 0;
	transition: 1s;
	/* padding-top: 50px;
	opacity: 0;
	transition: 1s; */
}
.products__list--active{
	display: grid;
	opacity: 1;
	transition: 1s;
}
.products__item:hover{
	transform: scale(1.1);
	filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.08));
	transition: 0.5s;
}
@media (max-width:1280px) {
	.container {
		width: 1050px;
	}

	.products__list {
		grid-gap: 30px;
	}
}

@media (max-width:1060px) {
	.container {
		width: 100%;
		padding: 0px 30px 0 30px;
	}
}

@media (max-width:1030px) {
	.products__list {
		padding-top: 50px;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
	}

	.products__title, .title  {
		font-size: 36px;
		line-height: 43px;
		padding-top: 80px;
	}

	.products__btn {
		margin-top: 50px;
	}
}

@media(max-width:500px) {
	.products__image{
	}
	.products__list {
		padding-top: 30px;
		grid-template-columns: repeat(1, 1fr);
	}

	.products__title, .title  {
		font-size: 28px;
		line-height: 130%;
		padding-top: 50px;
	}

	.products__btn {
		width: 100%;
		height: 60px;
		margin-top: 40px;
		font-family: 'Comfortaa';
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 130%;
		color: #FEFEFE;
		background: radial-gradient(113.12% 113.12% at 1.88% 89.38%, #FA8F21 0%, #D82D7E 79.31%);
		border-radius: 20px;
		border: none;
		text-transform: uppercase;
		padding-top: 8px;
	}
	.products__container{
		top:auto;
		bottom: 0;
		position: absolute;
		z-index: 2;
		width: 100%;
		background: radial-gradient(113.12% 113.12% at 1.88% 89.38%, #FA8F21 0%, #D82D7E 79.31%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border-radius: 0px 0px 28px 28px;
	}
	.productd__button{
		display: block;
		/* margin-top: -56px; */
		z-index: 9;
	}
}

@media (max-width:400px) {
	.container {
		padding: 0 16px 0 16px;
	}

	.products__list {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 16px;
	}

	.products__title, .title  {
		font-size: 24px;
		line-height: 130%;
	}

	.products__btn {
		margin-top: 30px;
	}
}

/*
.products__item{
	width: 320px;
	height: 340px;
}
.products__link{
	width: 320px;
	height: 340px;
	display: block; 
	text-decoration: none;
}
.products__image{
	width: 100%;
	display: block;
	object-fit: contain;
	border-radius: 20px;
	border: 1px solid #DDE3E4;
	filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
}
.products__item--centre{
	margin: 0 auto;
}
.products__item--right{
 margin: auto;
 margin-right: 0;
}
.productd__button{
	font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 130%;
color: rgb(255, 255, 255);
width: 292px;
height: 46px;
background: radial-gradient(113.12% 113.12% at 1.88% 89.38%, #FA8F21 0%, #D82D7E 79.31%)
border-radius: 0px 0px 20px 20px;
text-transform: uppercase;
border: none;
display: none;
} */
/* @media (max-width:1310px){
	.container{
		width: 100%;
		padding-right: 35px;
		padding-left: 35px;
	}
}
@media (max-width:1100px){
	.products__item, .products__image{
		width: 270px;
	}
	.products__link{
		width: 290px;
		height: auto;
	}
}

@media (max-width:890px){
	.container{
		padding-right: 85px;
		padding-left: 85px;
	}
	.products__list{
		grid-template-columns: repeat(2,1fr);
		grid-row-gap: 34px;
	}
	.products__item--centre{
		margin: auto;
		margin-left: 0;
	}
	.products__item--right{
	 margin: auto;
	 margin-left: 0;
	}
	.products__item--right-mini{
		margin: auto;
		margin-right: 0;
	}
	.products__title{
		font-size: 28px;
		margin-top: 100px;
	}
	.products__item, .products__link .products__image{
		width: 290px;
	}
	.products__image{
		border-bottom: none;
	}
	.productd__button{
		display: block;
	}
	.products__btn{
		width: 100%;
		height: 70px;
	}
}
@media (max-width:770px){
	.products__list{
		grid-column-gap: 16px;
	}
	.productd__button{
		width: 100%;

	}
	.products__item{
		width: 100%;
		height: auto;
	}
	.products__image{
		width: 100% !important; 
	}
	.products__link{
		width: 100%;

	}
}
@media (max-width:600px){
	.container{
		padding-right: 35px;
		padding-left: 36px;
	}
}

@media (max-width:400px){
	.container{
		padding-right: 20px;
		padding-left: 20px;
	}
	.products__list{
		padding-top: 22px;
		grid-template-columns: repeat(1,1fr);
		grid-row-gap: 34px;
	}
	.productd__button{
		height: 52px;
		font-size: 15px;
	}
	.products__btn{
		margin-top: 40px;
		height: 60px;
		font-size: 15px;
		padding-top: 5px;
	}
	.products__title{
		font-weight: 600;
font-size: 28px;
margin-top: 40px;																																																																								
	}
} */