* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

.container-2 {
	width: 1269px;
	margin: 0 auto;
}

.reponses {
  background: #F9F9F9;
  padding-bottom: 100px;
}

.products__title, .title {
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 55px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

@media (max-width:1329px) {
  .products__title, .exemples__title, .avis__title, .reponses__title {
    font-size: 50px;
  }
}

.products {
	padding: 100px 0 ;
}

@media (max-width:1000px) {
  .products{
    padding: 80px 0 ;
  }
}

.products__list {
	padding-top: 50px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 50px;
	grid-row-gap: 50px;
}

@media (max-width:1329px) {
  .products__list{
    padding-top: 20px;
  }
}

.products__list--main {
  padding-top: 70px;
}

.products__btn--active {
	display: none !important;
}

.products__item, .products__image {
	width: 100%;
}

.products__image{
	box-sizing: border-box;
	border: 2px solid rgba(60, 60, 67, 0.36);
  border-radius: 28px;
}

.products__item {
	position: relative;
	border-radius: 28px;
}

.products__btn {
	display: block;
	width: 210px;
	height: 70px;
	margin: 0 auto;
	margin-top: 70px;
	font-family: 'Comfortaa';
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
	color: #FEFEFE;
	background: radial-gradient(113.12% 113.12% at 1.88% 89.38%, #FA8F21 0%, #D82D7E 79.31%);
	border-radius: 20px;
	border: none;
	text-transform: uppercase;
	padding-top: 8px;
}

.productd__button {
	cursor: pointer;
	display: none;
	width: 100%;
	height: 52px;
	background: radial-gradient(113.12% 113.12% at 1.88% 89.38%, #FA8F21 0%, #D82D7E 79.31%);
	border-radius: 0px 0px 28px 28px;
	font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;
  color: rgb(255, 255, 255);
  border: none	;
  text-transform: uppercase;
}

@keyframes cf3FadeInOut {
  0% {
  opacity:0;
}
45% {
opacity:0;
}
55% {
opacity:1;
}
100% {
opacity:1;
}
}

.products__list--hiden {
	display: none;
	opacity: 0;
	transition: 1s;
}

.products__list--active {
	display: grid;
	opacity: 1;
	transition: 1s;
}

.products__item:hover {
	transform: scale(1.02);
	filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.08));
	transition: 0.5s;
	cursor: pointer;
}

.products__item:not(:hover) {
	transform: scale(1.0);
	transition: 0.5s;
}

@media (max-width:1329px) {
	.container-2 {
		width: 1050px;
	}

	.products__list {
		grid-gap: 20px;
	}
}

@media (max-width:1100px) {
	.container-2 {
		width: 100%;
		padding: 0 25px;
	}
}

@media (max-width:1030px) {
	.products__list {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

	.products__btn {
		margin-top: 50px;
	}
}

@media(max-width:1000px) {
  .products__title, .title {
    font-size: 45px;
  }
}

@media(max-width:600px) {
  .products__title, .title {
    font-size: 40px;
  }
}

@media(max-width:500px) {
  .products__title, .title {
    font-size: 35px;
  }
}

@media(max-width:450px) {
  .products__title, .title {
    font-size: 30px;
  }
}

@media(max-width:385px) {
  .products__title, .title {
    font-size: 28px;
  }
}

@media(max-width:365px) {
  .products__title, .title {
    font-size: 26px;
  }
}

@media(max-width:340px) {
  .products__title, .title {
    font-size: 24px;
  }
}

@media(max-width:500px) {
	.products__item:hover{
		transform: scale(1.0);
	}
}

@media(max-width:500px) {
	.products__list {
		grid-template-columns: repeat(1, 1fr);
	}

	.products__btn {
		width: 100%;
		height: 60px;
		margin-top: 40px;
		font-family: 'Comfortaa';
		font-weight: 700;
		font-size: 15px;
		line-height: 130%;
		color: #FEFEFE;
		background: radial-gradient(113.12% 113.12% at 1.88% 89.38%, #FA8F21 0%, #D82D7E 79.31%);
		border-radius: 20px;
		border: none;
		text-transform: uppercase;
		padding-top: 8px;
	}

	.products__container {
		top:auto;
		bottom: 0;
		position: absolute;
		z-index: 2;
		width: 100%;
		background: radial-gradient(113.12% 113.12% at 1.88% 89.38%, #FA8F21 0%, #D82D7E 79.31%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 0px 0px 28px 28px;
	}

	.productd__button{
		display: block;
		z-index: 9;
	}
}

@media (max-width:400px) {
	.products__list {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 16px;
	}

	.products__btn {
		margin-top: 30px;
	}
}